<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Портфолио</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#home">HOME</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#about">ABOUT</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#questions">QUESTIONS</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <!-- Секция превью -->
      <section class="main__home home" id="home">
        <h1 class="home__title">FAQ-Сайт</h1>
        <p class="home__subtitle">Тема - глобальное потепление</p>
      </section>
      <!-- Секция с рассказом о себе -->
      <section class="main__about about" id="about">
        <h2 class="about__title">Про сайт</h2>
        <div class="about__info info-block">
          <p class="info-block__text">
            Этот сайт даст ответы на часто задаваемые людьми вопросы по теме глобального потепления. Если того, что вы ищете, нет на сайте, задавайте свой вопрос в комментарии.
          </p>
          <br>
          <img
            class="info-block__img"
            src="../static/img/profile.png"
            alt="me"
            width="250"
            height="250"
          />
        </div>
      </section>
      <!-- Секция со скиллами -->
      <section class="questions" id="questions"></section>
      <form action="/" method="POST">
        <h2 class="questions_title">Вопросы</h2>
        <br>
        <br>
        <span class="question">Вопрос1</span>
        <input class="button" type="submit" name="question1" value="Показать ответ">
          {% if question1%}
            <br>
            <span class="answer">Ответ1</span>
          {% endif %}
        <br>
        <br>
        <span class="question">Вопрос2</span>
        <input class="button" type="submit" name="question2" value="Показать ответ">
          {% if question2%}
            <br>
            <span class="answer">Ответ2</span>
          {% endif %}
        <br>
        <br>
        <span class="question">Вопрос3</span>
        <input class="button" type="submit" name="question3" value="Показать ответ">
          {% if question3%}
            <br>
            <span class="answer">Ответ3</span>
          {% endif %}
        <br>
        <br>
        <span class="question">Вопрос4</span>
        <input class="button" type="submit" name="question4" value="Показать ответ">
          {% if question4%}
            <br>
            <span class="answer">Ответ4</span>
          {% endif %}
        <br>
        <br>
        <span class="question">Вопрос5</span>
        <input class="button" type="submit" name="question5" value="Показать ответ">
          {% if question5%}
            <br>
            <span class="answer">Ответ5</span>
          {% endif %}
        <br>
        <br>
        <span class="question">Вопрос6</span>
        <input class="button" type="submit" name="question6" value="Показать ответ">
          {% if question6%}
            <br>
            <span class="answer">Ответ6</span>
          {% endif %}
        <br>
        <br>
        <span class="question">Вопрос7</span>
        <input class="button" type="submit" name="question7" value="Показать ответ">
          {% if question7%}
            <br>
            <span class="answer">Ответ7</span>
          {% endif %}
        <br>
        <br>
        <span class="question">Вопрос8</span>
        <input class="button" type="submit" name="question8" value="Показать ответ">
          {% if question8%}
            <br>
            <span class="answer">Ответ8</span>
          {% endif %}
        <br>
        <br>
        <span class="question">Вопрос9</span>
        <input class="button" type="submit" name="question9" value="Показать ответ">
          {% if question9%}
            <br>
            <span class="answer">Ответ9</span>
          {% endif %}
        <br>
        <br>
        <span class="question">Вопрос10</span>
        <input class="button" type="submit" name="question10" value="Показать ответ">
          {% if question10%}
            <br>
            <span class="answer">Ответ10</span>
          {% endif %}
      </form>
      </section>
      <br>
      <br>
      <!-- Секция с формой обратной связи -->
      <section class="main__feedback feedback" id="feedback">
        <h2 class="feedback__title">FEEDBACK</h2>
        <form action="" method="POST" class="feedback__form form">
          <label for="email">
            <input type="email" class="form__input" name="email" id="email" placeholder="Введите E-mail" required>
          </label>
          <label for="text">
            <textarea name="text" class="form__input" id="text" cols="70" rows="10" required placeholder="Комментарий"></textarea>
          </label>
          <button class="form__button" type="submit">ОТПРАВИТЬ</button>
        </form>
      </section>
    </main>
    <!-- Подвал для ссылок на соц-сети -->
    <footer>

    </footer>
  </body>
</html>
