<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>FAQ-Сайт(Тема - глобальное потепление)</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#home">HOME</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#about">ABOUT</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#questions">QUESTIONS</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <!-- Секция превью -->
      <section class="main__home home" id="home">
        <h1 class="home__title">FAQ-Сайт</h1>
        <p class="home__subtitle">Тема - глобальное потепление</p>
      </section>
      <!-- Секция с рассказом о себе -->
      <section class="main__about about" id="about">
        <h2 class="about__title">Про сайт</h2>
        <div class="about__info info-block">
          <p class="info-block__text">
            Этот сайт даст ответы на часто задаваемые людьми вопросы по теме глобального потепления. Если того, что вы ищете, нет на сайте, задавайте свой вопрос в комментарии.
          </p>
          <br>
          <img
            class="info-block__img"
            src="../static/img/profile.png"
            alt="me"
            width="250"
            height="250"
          />
        </div>
      </section>
      <!-- Секция со скиллами -->
      <section class="questions" id="questions"></section>
        <h2 class="questions_title">Вопросы</h2>
        <br>
        <form action="/" method="post">
            <input name="search" placeholder="Искать здесь..." type="search">
            <button type="submit">Поиск</button>
        </form>
        <br>
      <form action="/" method="POST">  
        <span class="question">Что такое глобальное потепление?</span>
        <input class="button" type="submit" name="question1" value="Показать ответ">
          {% if question1%}
            <br>
            <span class="answer">Это повышение средней температуры на Земле, которое фиксируется с конца XIX века.</span>
          {% endif %}
        <br>
        <br>
        <span class="question">Неужели совсем небольшое повышение средней температуры на что-то влияет?</span>
        <input class="button" type="submit" name="question2" value="Показать ответ">
          {% if question2%}
            <br>
            <span class="answer">Все изменения климата, которые мы на себе ощущаем, являются последствиями глобального потепления.</span>
          {% endif %}
        <br>
        <br>
        <span class="question">Что стало причиной глобального потепления?</span>
        <input class="button" type="submit" name="question3" value="Показать ответ">
          {% if question3%}
            <br>
            <span class="answer">Глобальное потепление спровоцировано бурным развитием промышленности. Чем больше выбросов от предприятий, чем активнее идёт вырубка лесов, тем больше накапливается парниковых газов. И тем сильнее прогревается Земля.</span>
          {% endif %}
        <br>
        <br>
        <span class="question">Изменение климата – это глобальное потепление?</span>
        <input class="button" type="submit" name="question4" value="Показать ответ">
          {% if question4%}
            <br>
            <span class="answer">Глобальное потепление – основная причина современных изменений климата. Однако изменение климата – более широкое понятие. Оно включает не только рост температуры приземных слоёв атмосферы, а значит, суши и океана, но и его последствия</span>
          {% endif %}
        <br>
        <br>
        <span class="question">Когда началось изменение климата?</span>
        <input class="button" type="submit" name="question5" value="Показать ответ">
          {% if question5%}
            <br>
            <span class="answer">Климат менялся всегда. Однако температура из-за естественных циклов не поднималась так быстро за последние 65 миллионов лет. </span>
          {% endif %}
        <br>
        <br>
        <span class="question">Какие страны наиболее страдают от глобального потепления?</span>
        <input class="button" type="submit" name="question6" value="Показать ответ">
          {% if question6%}
            <br>
            <span class="answer">Наиболее уязвимы к глобальному потеплению малые островные государства. Это страны в Тихом и Индийском океанах, Средиземноморье, Южно-Китайском море и Карибском бассейне. </span>
          {% endif %}
        <br>
        <br>
        <span class="question">Можно ли при помощи современных достижений науки остановить глобальное потепление?</span>
        <input class="button" type="submit" name="question7" value="Показать ответ">
          {% if question7%}
            <br>
            <span class="answer">Полностью остановить процесс изменений климата, вызванных человеком, уже невозможно, однако сейчас можно приостановить процесс потепления до относительно безопасного уровня</span>
          {% endif %}
        <br>
        <br>
        <span class="question">Каким странам сейчас выгодно глобальное потепление?</span>
        <input class="button" type="submit" name="question8" value="Показать ответ">
          {% if question8%}
            <br>
            <span class="answer">Ответ очевиден - никаким.</span>
          {% endif %}
        <br>
        <br>
        <span class="question">Было ли изменение климата до появления человека?</span>
        <input class="button" type="submit" name="question9" value="Показать ответ">
          {% if question9%}
            <br>
            <span class="answer">Было, однако оно не так быстро происходило, процесс не был таким глобальным.</span>
          {% endif %}
        <br>
        <br>
        <span class="question">К чему всё это может привести?</span>
        <input class="button" type="submit" name="question10" value="Показать ответ">
          {% if question10%}
            <br>
            <span class="answer">Учёные прогнозируют, что дальнейшее глобальное потепление может усилить губительные для людей процессы, спровоцировать засухи, наводнения, молниеносное распространение опасных болезней.</span>
          {% endif %}
      </form>
      </section>
      <br>
      <br>
      <!-- Секция с формой обратной связи -->
      <section class="main__feedback feedback" id="feedback">
        <h2 class="feedback__title">FEEDBACK</h2>
        <form action="" method="POST" class="feedback__form form">
          <label for="email">
            <input type="email" class="form__input" name="email" id="email" placeholder="Введите E-mail" required>
          </label>
          <label for="text">
            <textarea name="text" class="form__input" id="text" cols="70" rows="10" required placeholder="Комментарий"></textarea>
          </label>
          <button class="form__button" type="submit">ОТПРАВИТЬ</button>
        </form>
      </section>
    </main>
    <!-- Подвал для ссылок на соц-сети -->
    <footer>

    </footer>
  </body>
</html>
